<section>
	<section (drop)="onDrop($event)" (dragover)="onDragOver($event)" class="dropBox">
		<div>Drop a JSON with tasks!</div>
	</section>
	<textarea readonly id = "showJSON" [(ngModel)]="textA" class="textBox" rows="4" cols="50"></textarea>
</section>

<section class="addSection">
	<div class="newTask">
		<h5 class="mb-10">Add a new Task:</h5>
		<input [(ngModel)]='taskN' class="search w-100" type="text" placeholder="Task Name">
		<input [(ngModel)]='taskD' class="search w-100" type="text" placeholder="Task Description">
		<button (click)="addNewTask()" class="btn btn-primary w-100">Add</button>
	</div>
</section>

<div class="overflow_container">
	<h1 class="text-center border-down bg-primary">Unfinished Tasks</h1>
	<div class="overflow">
	<div class="text-light bg-dark">
		<div *ngFor="let x of modelArray; let i = index">
			<tr class="border-down" *ngIf = "x.complete==false" >
				<td class="largertd text-left">Task: {{x.task}}<div class="taskDesc">{{x.description}}</div></td>
				<td class="sharedtd"><button class="check_button" (click)="completeTask(i)"></button></td>
				<td class="sharedtd"><button class="del_button" (click)="removeTask(i)"></button></td>
			</tr>
		</div>
	</div>
	</div>
</div>

<div class="overflow_container">
	<h1 class="text-center border-down bg-success">Completed Tasks</h1>
	<div class="overflow">
	<div class="bg-dark text-light">
		<div *ngFor="let x of modelArray; let i = index" >
			<tr class="border-down" *ngIf = "x.complete==true">
				<td class="largertd text-left">Task: {{x.task}}<div class="taskDesc">{{x.description}}</div></td>
				<td class="sharedtd"><button class="nocheck_button" (click)="uncompleteTask(i)"></button></td>
				<td class="sharedtd"><button class="del_button" (click)="removeTask(i)"></button></td>
			</tr>
		</div>
	</div>
	</div>
</div>
